@page "/workflows/{id:guid}/manage"
@using Console.Components.Pages.Triggers
@using FlowSynx.Client.Messages.Requests.Workflows
@using FlowSynx.Client.Messages.Responses.Workflows
@inject IWorkflowService WorkflowService
@inject IJSRuntime JSRuntime

@attribute [Authorize]
@inject IAccessTokenProvider TokenProvider
@inject IFlowSynxClient FlowSynxClient
@inject ISnackbar SnackBar
@inject IDialogService DialogService
@inject NavigationManager Navigation

<PageTitle>FlowSynx manage workflow</PageTitle>
<HeaderTitle Title="Workflow designer" Description="A visual interface to create, edit, and manage workflow." />

<MudTabs Outlined="true"
         Position="Position.Top"
         Rounded="true"
         Border="true"
         ApplyEffectsToContainer="true"
         Class="mb-4">
    <MudTabPanel Text="Designer" Icon="@Icons.Material.Filled.DesignServices" Disabled="@IsProcessing">
        <MudToolBar Dense="true" Gutters="false" Class="toolbar">
            <MudTooltip Text="Save workflow">
                <MudButton Variant="Variant.Filled"
                               Size="@Size.Medium"
                               Color="Color.Primary"
                               StartIcon="@Icons.Material.Filled.Save"
                               Disabled="@IsProcessing"
                               OnClick="Save">
                               Save
                </MudButton>
            </MudTooltip>
            <MudTooltip Text="@(CurrentView == View.Code ? "Switch to Designer" : "Switch to JSON")">
                <MudIconButton Variant="Variant.Text"
                               Size="@Size.Medium"
                               Color="Color.Default"
                               Disabled="@IsProcessing"
                               Icon="@(CurrentView == View.Code ? Icons.Material.Filled.DesignServices : Icons.Material.Filled.Code)"
                               OnClick="ToggleCodeDesigner">
                </MudIconButton>
            </MudTooltip>
            @if (CurrentView == View.Designer)
            {
                <MudTooltip Text="Configure workflow">
                    <MudIconButton Variant="Variant.Text"
                    Size="@Size.Medium"
                    Color="Color.Default"
                    Disabled="@IsProcessing"
                    Icon="@Icons.Material.Filled.Settings"
                    OnClick="ConfigureWorkflow">
                    </MudIconButton>
                </MudTooltip>
            }
            <MudSpacer />
            <MudTooltip Text="Delete workflow">
                <MudButton Variant="Variant.Filled"
                Size="@Size.Medium"
                Color="Color.Error"
                Disabled="@IsProcessing"
                StartIcon="@Icons.Material.Filled.Delete"
                Class="mr-1"
                OnClick="DeleteWorkflow">
                    Delete
                </MudButton>
            </MudTooltip>
            <MudTooltip Text="Execute workflow">
                <MudButton Variant="Variant.Filled"
                Size="@Size.Medium"
                Color="Color.Primary"
                Disabled="@IsProcessing"
                StartIcon="@Icons.Material.Filled.PlayArrow"
                OnClick="ExecuteWorkflow">
                    Execute
                </MudButton>
            </MudTooltip>
        </MudToolBar>
        @RenderCurrentView()
    </MudTabPanel>
    <MudTabPanel Text="Executions" Icon="@Icons.Material.Filled.PlayArrow" Disabled="@IsProcessing">
        <WorkflowExecutions WorkflowId="@id" />
    </MudTabPanel>
    <MudTabPanel Text="Triggers" Icon="@Icons.Material.Filled.Bolt" Disabled="@IsProcessing">
        <WorkflowTriggers WorkflowId="@id" />
    </MudTabPanel>
</MudTabs>

@code {
    [Parameter]
    public Guid id { get; set; }

    private bool IsProcessing = false;
    private Workflow Workflow { get; set; } = new Workflow();
    private string? _workflowJson;
    private UpdateWorkflowRequest UpdateWorkflowRequest = new UpdateWorkflowRequest
            {
                Id = Guid.Empty,
                Definition = ""
            };

    protected override async Task OnInitializedAsync()
    {
        await LoadWorkflow();
    }

    private async Task LoadWorkflow()
    {
        try
        {
            IsProcessing = true;
            var accessTokenResult = await TokenProvider.GetAccessTokenAsync();
            if (string.IsNullOrEmpty(accessTokenResult))
            {
                SnackBar.Add("No token available or user not authenticated.", Severity.Error);
                Navigation.NavigateTo("/workflows");
            }
            var authenticationStrategy = new FlowSynx.Client.Authentication.BearerTokenAuthStrategy(accessTokenResult);

            FlowSynxClient.SetAuthenticationStrategy(authenticationStrategy);
            var workflowResult = await FlowSynxClient.Workflows.DetailsAsync(new WorkflowDetailsRequest { Id = id });

            if (workflowResult.StatusCode != 200)
            {
                SnackBar.Add("Server error while fetching the workflow.", Severity.Error);
                Navigation.NavigateTo("/workflows");
            }
            var payload = workflowResult.Payload;
            if (!payload.Succeeded)
            {
                foreach (var message in payload.Messages)
                    SnackBar.Add($"Get workflow error:\n{message}", Severity.Error);

                Navigation.NavigateTo("/workflows");
            }

            _workflowJson = payload.Data.Workflow;
            WorkflowService.SetJson(_workflowJson);
            Workflow = WorkflowService.Get();
            StateHasChanged();
        }
        catch (Exception ex)
        {
            SnackBar.Add($"Unexpected error: {ex.Message}", Severity.Error);
            Navigation.NavigateTo("/workflows");
        }
        finally
        {
            IsProcessing = false;
        }
    }

    private View CurrentView { get; set; } = View.Designer;

    private void SwitchView(View view)
    {
        CurrentView = view;
    }

    private RenderFragment RenderCurrentView() => CurrentView switch
    {
        View.Code => @<WorkflowJsonEditor JsonContent="@_workflowJson"
                    JsonContentChanged="v => _workflowJson = v" />,
        View.Designer => Workflow is not null && Workflow.Tasks?.Any() == true
                ? @<WorkflowDesigner Workflow="@Workflow" />
                : @<MudProgressCircular Indeterminate="true" Size="Size.Large" Color="Color.Primary" />,
        _ => @<p>Unknown view</p>
    };

    private void ToggleCodeDesigner()
    {
        CurrentView = CurrentView == View.Code ? View.Designer : View.Code;
        if (CurrentView == View.Code)
        {
            _workflowJson = WorkflowService.GetJson();
        }
        else
        {
            if (!string.IsNullOrWhiteSpace(_workflowJson))
            {
                WorkflowService.SetJson(_workflowJson);
            }
        }
    }

    private async Task Save()
    {
        try
        {
            IsProcessing = true;
            string? token;
            var accessTokenResult = await TokenProvider.GetAccessTokenAsync();

            if (string.IsNullOrEmpty(accessTokenResult))
                token = "No token available or user not authenticated.";
            else
                token = accessTokenResult;

            var authenticationStrategy = new FlowSynx.Client.Authentication.BearerTokenAuthStrategy(token);
            FlowSynxClient.SetAuthenticationStrategy(authenticationStrategy);

            if (CurrentView == View.Code)
            {
                if (string.IsNullOrWhiteSpace(_workflowJson))
                {
                    SnackBar.Add("Please provide a valid JSON definition.", Severity.Error);
                    return;
                }
                UpdateWorkflowRequest.Definition = _workflowJson;
            }
            else
            {
                UpdateWorkflowRequest.Definition = WorkflowService.GetJson();
            }

            UpdateWorkflowRequest.Id = id;

            var result = await FlowSynxClient.Workflows.UpdateAsync(UpdateWorkflowRequest);
            if (result.StatusCode != 200)
            {
                SnackBar.Add("Server error while processing the request.", Severity.Error);
                return;
            }

            var payload = result.Payload;
            if (!payload.Succeeded)
            {
                foreach (var message in result.Payload.Messages)
                    SnackBar.Add($"Update workflow error:\n{message}", Severity.Error);

                return;
            }
            else
            {
                SnackBar.Add("Workflow updated successfully!", Severity.Success);
            }
        }
        catch (Exception ex)
        {
            SnackBar.Add($"Unexpected error: {ex.Message}", Severity.Error);
        }
        finally
        {
            IsProcessing = false;
        }
    }

    private async Task ConfigureWorkflow()
    {
        var options = new DialogOptions
            {
                CloseButton = false,
                MaxWidth = MaxWidth.Small,
                BackdropClick = false,
                CloseOnEscapeKey = false,
                BackgroundClass = "blur-dialog-background"
            };

        var parameters = new DialogParameters
        {
            {
                "Config", new WorkflowViewModel
                {
                    Name = Workflow.Name,
                    Description = Workflow.Description,
                    Configuration = Workflow.Configuration
                }
            }
        };

        var dialog = await DialogService.ShowAsync<ConfigureWorkflowDialog>("Configure workflow", parameters, options);
        var dialogResult = await dialog.Result;
        if (dialogResult != null && !dialogResult.Canceled)
        {
            var result = (WorkflowViewModel)dialogResult.Data;
            Workflow.Name = result.Name;
            Workflow.Description = result.Description;
            Workflow.Configuration = result.Configuration;
        }
    }

    private async Task DeleteWorkflow()
    {
        var options = new DialogOptions
            {
                CloseButton = false,
                MaxWidth = MaxWidth.Small,
                BackdropClick = false,
                CloseOnEscapeKey = false,
                BackgroundClass = "blur-dialog-background"
            };

        var parameters = new DialogParameters {
            { "Id", id },
            { "WorkflowName", Workflow.Name },
            { "WorkflowDescription", Workflow.Description }
        };

        var dialog = await DialogService.ShowAsync<DeleteWorkflowDialog>("Delete workflow", parameters, options);
        var dialogResult = await dialog.Result;
        if (dialogResult != null && !dialogResult.Canceled)
            Navigation.NavigateTo("/workflows");
    }

    private async Task ExecuteWorkflow()
    {
        try
        {
            var accessTokenResult = await TokenProvider.GetAccessTokenAsync();

            string? token;
            if (string.IsNullOrEmpty(accessTokenResult))
                token = "No token available or user not authenticated.";
            else
                token = accessTokenResult;

            var authenticationStrategy = new FlowSynx.Client.Authentication.BearerTokenAuthStrategy(token);
            FlowSynxClient.SetAuthenticationStrategy(authenticationStrategy);

            var request = new ExecuteWorkflowRequest { WorkflowId = id };
            var result = await FlowSynxClient.Workflows.ExecuteAsync(request);

            if (result.StatusCode != 200)
            {
                SnackBar.Add("Failed to execute workflow: Bad response code.", Severity.Error);
                return;
            }

            if (!result.Payload.Succeeded)
            {
                var errorMessage = string.Join(Environment.NewLine, result.Payload.Messages);
                SnackBar.Add($"Execute workflow error:\n{errorMessage}", Severity.Error);
                return;
            }
        }
        catch (Exception ex)
        {
            SnackBar.Add($"Exception occurred: {ex.Message}", Severity.Error);
            return;
        }
    }

    private enum View
    {
        Code,
        Designer
    }
}