@page "/workflows"
@using FlowSynx.Client.Messages.Responses.Plugins
@using FlowSynx.Client.Messages.Responses.Workflows
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components

@attribute [Authorize]
@inject IAccessTokenProvider TokenProvider
@inject IFlowSynxClient FlowSynxClient
@inject ISnackbar SnackBar
@inject IDialogService DialogService
@inject NavigationManager Navigation

<PageTitle>FlowSynx Workflows</PageTitle>

<HeaderTitle Title="Workflows" Description="Create and manage workflows to streamline processes, connect tasks, and ensure reliable execution" />

<MudTable T="WorkflowListResponse"
          ServerData="LoadData"
          Dense="true"
          Hover="true"
          Bordered="false"
          Striped="false"
          OnRowClick="ManageWorkflow"
          @ref="_table" LoadingProgressColor="Color.Primary">
    <ToolBarContent>
        <MudButton DisableElevation Variant="Variant.Outlined" Color="Color.Default" Size="@Size.Small"
                   StartIcon="@Icons.Material.Filled.Add" class="mr-1" OnClick="AddWorkflow">Add workflow</MudButton>
        <MudButton DisableElevation Variant="Variant.Outlined" OnClick="Refresh" Size="@Size.Small"
                   StartIcon="@Icons.Material.Filled.Refresh" Color="Color.Default">Refresh</MudButton>
    </ToolBarContent>
    <HeaderContent>
        <MudTh>Name</MudTh>
        <MudTh>Modified Date</MudTh>
        <MudTh></MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd Class="cursor-pointer" DataLabel="Name">@context.Name</MudTd>
        <MudTd Class="cursor-pointer" DataLabel="Modified Date"><b>@context.ModifiedDate</b></MudTd>
        <MudTd Class="cursor-pointer action-cell"
               Style="margin: 0px !important; padding:0px !important; text-align: right;">
            <div class="justify-end w-100 actions-toolbar mr-2">
                <MudToolBar Dense="true"
                            Gutters="false"
                            Class="internal-toolbar-height"
                            Style="text-align: right;">
                    <MudTooltip Text="Manage and execute workflow">
                        <MudIconButton Icon="@Icons.Material.Filled.EditNote"
                                       Color="Color.Primary"
                                       Size="@Size.Small"
                                       OnClick="@(() => ManageWorkflow(@context.Id))" />
                    </MudTooltip>
                </MudToolBar>
            </div>
        </MudTd>
    </RowTemplate>
    <NoRecordsContent>
        <MudText>No matching records found</MudText>
    </NoRecordsContent>
    <LoadingContent>
        <MudText>Loading...</MudText>
    </LoadingContent>
    <PagerContent>
        <MudTablePager />
    </PagerContent>
</MudTable>

@code {
    private MudTable<WorkflowListResponse>? _table;

    private async Task<TableData<WorkflowListResponse>> LoadData(
        TableState state,
        CancellationToken cancellationToken)
    {
        try
        {
            var accessTokenResult = await TokenProvider.GetAccessTokenAsync();

            string? token;
            if (string.IsNullOrEmpty(accessTokenResult))
                token = "No token available or user not authenticated.";
            else
                token = accessTokenResult;

            var authenticationStrategy = new FlowSynx.Client.Authentication.BearerTokenAuthStrategy(token);
            FlowSynxClient.SetAuthenticationStrategy(authenticationStrategy);

            var request = new FlowSynx.Client.Messages.Requests.Workflows.WorkflowListRequest
            {
                Page = state.Page + 1,
                PageSize = state.PageSize
            };

            var result = await FlowSynxClient.Workflows.ListAsync(request, cancellationToken);

            if (result.StatusCode != 200)
            {
                SnackBar.Add("Failed to load plugins: Bad response code.", Severity.Error);
                return new TableData<WorkflowListResponse> { Items = [], TotalItems = 0 };
            }

            if (!result.Payload.Succeeded)
            {
                var errorMessage = string.Join(Environment.NewLine, result.Payload.Messages);
                SnackBar.Add($"Plugin config error:\n{errorMessage}", Severity.Error);
                return new TableData<WorkflowListResponse> { Items = [], TotalItems = 0 };
            }

            var workflows = result.Payload.Data.ToList();
            var totalCount = result.Payload.Pagination.TotalCount;

            return new TableData<WorkflowListResponse>
                {
                    Items = workflows,
                    TotalItems = totalCount
                };
        }
        catch (Exception ex)
        {
            SnackBar.Add($"Exception occurred: {ex.Message}", Severity.Error);
            return new TableData<WorkflowListResponse>
                {
                    Items = [],
                    TotalItems = 0
                };
        }
    }

    private async Task Refresh()
    {
        if (_table != null)
        {
            await _table.ReloadServerData();
        }
    }

    private void AddWorkflow()
    {
        Navigation.NavigateTo("/workflows/add");
    }

    private void ManageWorkflow(TableRowClickEventArgs<WorkflowListResponse> workflow)
    {
        if (workflow.Item == null)
            return;

        Navigation.NavigateTo($"/workflows/{workflow.Item.Id}/manage");
    }

    private void ManageWorkflow(Guid id)
    {
        Navigation.NavigateTo($"/workflows/{id}/manage");
    }
}